/vendor/
.env
.phpunit.cache/
.phpunit.result.cache

/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/testing/

.DS_Store
*.local
